html,body{
    margin:0;
    background-color: var(--primary-color);
}
:root {
    --primary-color:#2C4251;
    --secondary-color:#177E89;
    --yellow:#E8C547;
    --gunmetal:#30323D;
}
/*Start nav*/
#project-desc{
    width: 100%;
    background-color: var(--secondary-color);
    bottom: 0;
    height: 100%;
    position: relative;
    display: none;
    margin-top: 3em;
}
.project-desc-label{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color:var(--yellow);
    letter-spacing: 1.5px;
}
#project-desc-img{
    width: 100%;
    max-height: 250px;
}
#project-desc-summary,#project-desc-tech{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:var(--gunmetal);
    font-weight:800;
    margin: 2em 1em;
    word-wrap: break-word;
}
#page-nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #177E89;
}
.page-nav-name{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 1.75em;
    font-weight: 800;
    color: var(--secondary-color);
    background-color: var(--gunmetal);
    margin: 0;
    padding: 4vh 0;
}
.page-nav{
    list-style: none;
    padding:0;
    margin:0;
}
.nav-item{
    text-align: center;
    padding: 1.5em 0;
    font-size: 1.75em;
    font-weight: 800;
    color: lightgrey;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    width: 100%;
    display: block;
    text-decoration: none;
    
}
.nav-item:hover{
    background-color:var(--gunmetal);
    color:var(--secondary-color);
    border-bottom: 2px solid var(--gunmetal);
}
#selected-nav-item{
    color: var(--yellow);
}
.first-nav-item:hover{
    border-top: 2px solid var(--primary-color);
}
/*End nav*/

/*Start landing page*/
#landing{
    height:100%;
    width: 80%;
    display: inline-block;
    position: relative;
    background-color: 2C4251;
    text-align: center;
}
#landing-name{
    color: var(--yellow);
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    position: absolute;
    width: 100%;
    top: 23%;
    letter-spacing: 2px;
}
.contact-wrapper{
    position: absolute;
    width: 100%;
    top: 60%;
    height:100%;
}
.contact-icon-wrapper{
    margin: 0 6%;
    text-decoration: none;
    display: inline-block;
    position: relative;
    width: 10%;
    height: 10%;
}
.contact-icon-link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.contact-icon{
    width: 100%;
    height: 100%;
    cursor:pointer;
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #177e89);
    filter: opacity(.5) drop-shadow(0 0 0  #177e89);
}

/*End landing page*/
/*Start projects page*/
#projects{
    height: auto;
    width:80%;
    background-color:var(--primary-color);
}
.project-preview-wrapper{
    width: 98%;
    height: 98%;
    position: relative;
    left: 1%;
    top: 1%;
}
#project-1{
    width: 60%;
    height: 48%;
    border-bottom: 8px solid var(--primary-color);
    border-top: 8px solid var(--primary-color);
    display:inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
#project-2{
    display: inline-block;
    right: 0;
    top: 0;
    width: 40%;
    height: 52%;
    position: absolute;
    border-top: 8px solid var(--primary-color);
    border-left: 8px solid var(--primary-color);
    border-bottom: 8px solid var(--primary-color);
}
#project-3{
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 45%;
    border-left: 8px solid var(--primary-color);
    border-bottom: 8px solid var(--primary-color);
}
#project-4{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 59.3%;
    height: 49%;
    border-bottom: 8px solid var(--primary-color);
}
.project-preview-image{
    width:100%;
    height:100%;
    cursor:pointer;
}
.project-mask{
    width: 100%;
    height: 100%;
    background-color: #30323db5;
    position: absolute;
    left: 0;
    top: 0;
    display:none;
}
.project-git-btn{
    display: inline-block;
    border: 2px solid;
    position: absolute;
    top: 35%;
    left: 10%;
    padding: 1vw 2vw;
    background-color: var(--gunmetal);
    color: #e4dada;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.project-site-btn{
    display: inline-block;
    border: 2px solid;
    position: absolute;
    top: 35%;
    right: 19%;
    padding: 1vw 2vw;
    background-color: var(--gunmetal);
    color: #e4dada;
    cursor: pointer;
}
.project-site-btn a,.project-git-btn a{
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    text-decoration: none;
    color: #e4dada;
    font-family: 'Roboto', sans-serif;
}
.project-highlight-wrapper{height: 100%;width: 100%;position: relative;}
.project-highlight{
    background-color: #968f8f4a;
    height: 80%;
    text-align: center;
}
.highlight-name{
    color: var(--yellow);
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1px solid;
    padding-bottom:8px;
    display:inline-block;
    width:20vw;
}
.highlight-img{
    width: 45%;
    position: absolute;
    left: 4%;
    top: 18%;
}
.highlight-tech-wrapper{
    list-style: none;
    padding:0;
    margin:0;
    display: inline-block;
    width: 45%;
    position: absolute;
    right: 4%;
    top: 18%;
    text-align: left;
}
.highlight-tech-item{
    display: inline-block;
    width: 7vw;
    height: 7vw;
}
.highlight-tech-icon{
    width: 100%;
    height: 100%;
}
/*End projects page*/
/*Start about page*/
#about{
    height:100%;
    width: 80%;
    background-color:var(--primary-color);
    position: relative;
}
/*End about page*/