html,body{
    margin:0;
    background-color: var(--primary-color);
    overflow-x: hidden;
}
:root {
    --primary-color:#2C4251;
    --secondary-color:#177E89;
    --yellow:#E8C547;
    --gunmetal:#30323D;
    --white:#d3d3d3;
}
/*Start nav*/
#project-desc{
    width: 100%;
    background-color: var(--secondary-color);
    bottom: 0;
    height: 100%;
    position: relative;
    display: none;
    margin-top: 3em;
}
.project-desc-label{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color:var(--yellow);
    letter-spacing: 1.5px;
}
#project-desc-img{
    width: 100%;
    max-height: 250px;
}
#project-desc-summary,#project-desc-tech{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:var(--gunmetal);
    font-weight:800;
    margin: 2em 1em;
    word-wrap: break-word;
}
.first-nav-item{
    visibility: hidden;
    color:var(--secondary-color) !important;
}
#page-nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
   /* background-color: #2c4251;
    */
}
.page-nav-name{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 1.75em;
    font-weight: 800;
    color: var(--secondary-color);
   /* background-color: var(--gunmetal);
    */
    margin: 0;
    padding: 4vh 0;
}
.page-nav{
    list-style: none;
    padding:0;
    margin: 7vmax 0 0 0;
}
.nav-item{
    text-align: center;
    padding: 4vmin 0;
    font-size: 3vmax;
    font-weight: 800;
    color: lightgrey;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    width: 100%;
    display: block;
    text-decoration: none;
}
.nav-item:hover{
    color:var(--secondary-color);
}
#selected-nav-item{
    color: var(--yellow);
}
/*End nav*/
/*Start landing page*/
#landing{
    height:100%;
    width: 80%;
    display: inline-block;
    position: relative;
    background-color: 2C4251;
    text-align: center;
}
#landing-name{
    color: var(--yellow);
    font-family: 'Oswald', sans-serif;
    font-size: 13vmin;
    position: absolute;
    width: 100%;
    top: 21vmin;
    letter-spacing: 2px;
}
#landing-job-title{
    color: var(--white);
    font-family: 'Oswald', sans-serif;
    font-size: 6.5vmin;
    position: absolute;
    width: 100%;
    top: 46vmin;
    letter-spacing: 2px;
}
.landing-contact-wrapper{
    margin: 0;
    padding: 0;
    position: ABSOLUTE;
    bottom: 14vmin;
    width: 100%;
}
.landing-contact-item{
    display: inline-block;
    font-size: 2.5vmax;
    margin: 0 4vmax;
}
.landing-contact-resume{
    display:none;
}
.landing-contact-item a{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: var(--white);
}
/*End landing page*/
/*Start projects page*/
#projects{
    height: auto;
    width:80%;
    background-color:var(--primary-color);
    text-align: center;
    padding-top: 2em;
}
.project-preview-wrapper{
    width: 98%;
    height: 98%;
    position: relative;
    left: 1%;
    top: 1%;
}
#project-1{
    width: 60%;
    height: 48%;
    border-bottom: 8px solid var(--primary-color);
    border-top: 8px solid var(--primary-color);
    display:inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
#project-2{
    display: inline-block;
    right: 0;
    top: 0;
    width: 40%;
    height: 52%;
    position: absolute;
    border-top: 8px solid var(--primary-color);
    border-left: 8px solid var(--primary-color);
    border-bottom: 8px solid var(--primary-color);
}
#project-3{
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 45%;
    border-left: 8px solid var(--primary-color);
    border-bottom: 8px solid var(--primary-color);
}
#project-4{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 59.3%;
    height: 49%;
    border-bottom: 8px solid var(--primary-color);
}
.project-preview-image{
    width:100%;
    height:100%;
    cursor:pointer;
}
.project-mask{
    width: 100%;
    height: 100%;
    background-color: #30323db5;
    position: absolute;
    left: 0;
    top: 0;
    display:none;
}
.project-git-btn{
    display: inline-block;
    border: 2px solid;
    position: absolute;
    top: 35%;
    left: 10%;
    padding: 1vw 2vw;
    background-color: var(--gunmetal);
    color: #e4dada;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.project-site-btn{
    display: inline-block;
    border: 2px solid;
    position: absolute;
    top: 35%;
    right: 19%;
    padding: 1vw 2vw;
    background-color: var(--gunmetal);
    color: #e4dada;
    cursor: pointer;
}
.project-site-btn a,.project-git-btn a{
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    text-decoration: none;
    color: #e4dada;
    font-family: 'Roboto', sans-serif;
}
.project-highlight-wrapper{
    width: 95%;
    position: relative;
    display: inline-block;
}
.project-highlight{
    background-color: #968f8f1f;
    height: 49vmax;
    width: 100%;
    text-align: center;
    position: relative;
    border-radius: 3px;
    margin-bottom: 32vmin;
    margin-top: 14vmin;
}
.highlight-name{
    color: var(--yellow);
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 8px;
    display:inline-block;
    width: 100%;
    font-size: 2.2vmax;
}
.highlight-img-mobile{
    width: 22%;
    position: absolute;
    left: 14%;
    top: 19%;
    border-radius: 6px;
    height: 26vmax;
}
.highlight-img{
    width: 45%;
    position: absolute;
    left: 4%;
    top: 27%;
    border-radius: 6px;
    height: 21vmax;
}
.highlight-tech-wrapper{
    list-style: none;
    padding:0;
    margin:0;
    display: inline-block;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 6%;
    text-align: center;
}
.highlight-frontend-tech-wrapper{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 13%;
    text-align: center;
}
.highlight-tech-item{
    display: inline-block;
    width: 14vmin;
    height: 14vmin;
    margin-bottom: 3%;
    margin-right: 3%;
}
.highlight-tech-icon{
    width: 100%;
    height: 100%;
}
/*used for converting box icon to circle*/
.highlight-tech-box-icon{
    border-radius:5em;
    width: 82%;
    height: 82%;
    padding: 10%;
}
/*Used for keeping box shape on icon*/
.highlight-tech-icon-box{
    width: 82%;
    height: 82%;
    padding: 10%;
}
.highlight-summary-wrapper{
    width: 42%;
    display: inline-block;
    position: absolute;
    top: 18%;
    right: 4%;
    height: fit-content;
}
.highlight-summary-label{
    margin: 0;
    color: var(--yellow);
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid;
    padding-bottom: 9px;
    width: 19vw;
    display: inline-block;
    font-size: 1.8vmax;
}
.highlight-summary-text{
    color: lightgrey;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
    font-size: 1.5vmax;
}
.highlight-links-wrapper{
    margin:0;
    padding:0;
    list-style:none;
    position: absolute;
    bottom: 11%;
    width:45%;
    height: fit-content;
    left: 3.5%;
}
.highlight-links-item{
    display: inline-block;
    padding: 1vmax;
    background-color: var(--primary-color);
    border-radius: 4px;
    margin: 1vmax 0.5vmax 0vmax 0.5vmax;
    font-weight: 600;
}
.highlight-links-link{
    color: lightgrey;
    text-decoration: none;
    font-size: 2vmax;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
}
/*End projects page*/
/*Start about page*/
#about{
    height:100%;
    width: 80%;
    background-color:var(--primary-color);
    position: relative;
}
.about-name{
    display:inline-block;
    font-family: 'Roboto', sans-serif;
    color: var(--yellow);
    letter-spacing: 1.5px;
    font-size: 4.5vmax;
    position: absolute;
    left: 23vmax;
    top: 1vmax;
    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 0.75vmax;
    width: 42%;
    text-align: center;
}
.about-job-title{
    display:inline-block;
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    letter-spacing: 1.5px;
    font-size: 2vmax;
    position: absolute;
    left: 23vmax;
    top: 9.5vmax;
    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 0.75vmax;
    width: 42%;
    text-align: center;
}
.about-tech-wrapper{
    width: 54vmax;
    height: 36.3vmax;
    position: absolute;
    top: 31vmax;
    left: 13vmax;
    background-color: #394b58;
    border-radius: 6px;
}
.about-workflow-wrapper{
    display: inline-block;
    width: 86%;
    position: absolute;
    left: 5vmax;
    top: 70vmax;
    height: 45vmax;
}
.about-summary-wrapper{
    width: 93%;
    height: 8vmax;
    position: absolute;
    top: 16.5vmax;
    left: 3vmax;
    font-size: 1.5vmax;
    text-align: center;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
}
.workflow-list-wrapper{
    list-style:none;
    padding:0;
    display: inline-block;
    position: absolute;
}
.workflow-list-item{
    font-family: 'Oswald', sans-serif;
    color: var(--white);
    letter-spacing: 1.5px;
    text-align: center;
    margin: 0.5vmax 0;
    font-size: 1.2vmax;
}
.workflow-list-title{
    font-size: 3vmax;
    font-family: 'Roboto', sans-serif;
    color: var(--yellow);
    letter-spacing: 1.5px;
    text-align: center;
    font-weight: bold;
    margin: 2vmax 0 1vmax 0;
}
.workflow-list-left{
    left: 0vmax;
    top: 1.2vmin;
}
.workflow-list-right{
    right: 2vmax;
}
.workflow-list-center{
    left: 25vmax;
}
.about-tech-list-wrapper{
    margin:0;
    padding:0;
    list-style: none;
    width: 100%;
    height: 100%;
}
.about-tech-list-item{
    font-size: 1.5vmax;
    font-family: 'Oswald', sans-serif;
    color: var(--white);
    letter-spacing: 1.5px;
    height: 6vmax;
    position: relative;
    border-bottom: 1px solid var(--primary-color);
}
.about-tech-label{
    top: 1.6vmax;
    position: absolute;
    left: 1vmax;
}
.about-tech-skillpoint{
    width: 3vmax;
    height: 3vmax;
    display: inline-block;
    background-color: var(--secondary-color);
    border-radius: 15em;
    margin-left: 7.2vmax;
    position: relative;
    left: 10vmax;
    top: 1.5vmax;
}
.about-tech-skill-level-wrapper{
    list-style:none;
    margin:0;
    position: absolute;
    padding:0;
    top: 27vmax;
    left: 23vmax;
    width: 50vmax;
}
.about-tech-skill-level-item{
    display:inline-block;
    font-family: 'Roboto', sans-serif;
    color: var(--yellow);
    letter-spacing: 1.5px;
    font-size: 1.5vmax;
    margin-left: 3.3vmax;
}
/*End about page*/
/*Mobile stuff*/
@media only screen and (max-width : 700px) {
    #page-nav{
        display:none;
   }
    #landing,#projects,#about{
        width:100%;
   }
   /*Landing page*/
    #landing-name{
        top: 28vmin;
        font-size: 21vmin;
   }
    #landing-job-title{
        top: 69vmin;
        font-size: 9vmin;
   }
    .landing-contact-wrapper{
        width:105%;
        bottom: 30vmin;
   }
    .landing-contact-item{
        margin: 0 2vmin;
   }
    .landing-contact-resume{
        display:inline-block;
   }
   /*Projects page*/
    .project-highlight-wrapper{
   }
    .project-highlight{
        margin: 11vmin 0;
        height: 161vmin;
   }
    .highlight-img{
        width: 92%;
        position: absolute;
        left: 4%;
        top: 9%;
        border-radius: 6px;
        height: 55vmin;
   }
    .highlight-img-mobile{
        width: 38%;
        position: absolute;
        left: 30%;
        top: 8%;
        border-radius: 6px;
        height: 68vmin;
   }
    .highlight-links-wrapper{
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 46%;
        width: 93%;
        left: 3.5%;
        bottom: 0;
   }
    .highlight-links-item{
        display: inline-block;
        padding: 1.5vmax 0;
        background-color: var(--primary-color);
        border-radius: 4px;
        margin: 0.15vmax 0;
        font-weight: 600;
        width: 26%;
   }
    .highlight-summary-wrapper{
       width: 92%;
       display: inline-block;
       position: absolute;
       top: 60%;
       right: 4%;
   }
    .highlight-summary-label{
       margin: 0;
       color: var(--yellow);
       letter-spacing: 3px;
       font-family: 'Oswald', sans-serif;
       border-bottom: 2px solid;
       padding-bottom: 9px;
       width: 40vmin;
       display: inline-block;
       font-size: 1.8vmax;
   }
    .highlight-summary-text{
       color: lightgrey;
       font-family: 'Roboto', sans-serif;
       letter-spacing: 1.2px;
       font-size: 1.5vmax;
   }
    .highlight-links-mobile{
        top: 52%;
   }
    .highlight-tech-wrapper{
        width: 100%;
        bottom: 0;
   }
    .contact-icon-wrapper{
        width: 9vmax;
        height: 9vmax;
   }
    .highlight-frontend-tech-wrapper{
        width:100%;
        bottom:5%;
   }
   /*About page*/
    .about-name{
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        color: var(--yellow);
        letter-spacing: 1.5px;
        font-size: 8.5vmin;
        position: absolute;
        left: 22vmin;
        top: 2vmin;
        border-bottom: 3px solid var(--secondary-color);
        padding-bottom: 1.75vmin;
        width: 55%;
        text-align: center;
   }
    .about-job-title{
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        color: var(--white);
        letter-spacing: 1.5px;
        font-size: 3.5vmin;
        position: absolute;
        left: 22vmin;
        top: 19.5vmin;
        border-bottom: 3px solid var(--secondary-color);
        padding-bottom: 1.75vmin;
        width: 55%;
        text-align: center;
   }
    .workflow-list-left{
        left: -1vmax;
   }
    .workflow-list-center{
        left: 18vmin;
        top: 90vmin;
   }
    .workflow-list-right{
        right: 13vmin;
        top: 0;
   }
    .workflow-list-title{
        font-size: 6vmin;
   }
    .workflow-list-item{
        font-size: 3vmin;
   }
    .about-workflow-wrapper{
        top: 57vmin;
        height: 155vmin;
   }
    .about-tech-skill-level-wrapper,.about-tech-wrapper{
        display:none;
   }
    .about-summary-wrapper{
        top: 35vmin;
        height: 29vmin;
   }
}
@media only screen and (max-width : 900px) {
    .about-tech-wrapper{
        left: 7vmin;
   }
    .about-tech-skill-level-wrapper{
        left:17vmin;
   }
}
